body {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    color: #003868;
    background-color: darkgrey;
}

.main_container {
    width: 1000px;
    overflow: hidden;
    border: 2px solid black;
}

.header {
    width: 1000px;
    height: 150px;
    border: 1px solid black;
}

.header_photo {
    width: 120px;
    height: 120px;
    float: left;
    margin: 15px
}

header h1 p {
    clear: left;

}

.center_block {
    margin: 0 auto;
}

.main_container {
    width: 1000px;
    height: auto;
    border: 1px solid black;
}

.article_experience {
    width: 70%;
    min-height: 500px;
    border: 1px solid black;
    }
.text_article {
    padding: 10px;
}

.aside {
    width: 29.6%;
    min-height:500px;
    border: 1px solid black;
}

.text_aside {
    padding: 10px;
}

.float_box{
    float: left;
}

ul {
    list-style-type: none;
}

.footer {
    clear: both;
    width: 1000px;
    border: 1px solid black;
}

.footer p {
    text-align: center;
}
