body {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    color: #003868;
    margin: 6mm;
    background-color: aquamarine;
}
.main_container {
    width: 1000px;
    overflow: hidden;
    border: 2px solid black;
}

.header_style {
    width: 100%;
    border: 2px solid black;
}

.center_block {
    margin: 0 auto;
}

.main {
    width: 69.2%;
    border: 2px solid black;
    float: left;
    overflow: hidden;
    padding-bottom: 20000px;
    margin-bottom: -20000px;

}

.aside {
    width: 30%;
    float: left;
    border: 2px solid black;
    overflow: hidden;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

ul {
    list-style-type: none;
}

.footer {
    width: 1000px;
    clear: both;
    border: 2px solid black;

}

.footer p {
    text-align: center;
}