body {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    color: #003868;
    margin: 6mm;
    background-color: aquamarine;
}

.main_container {
    width: 1000px;
    overflow: hidden;
    border: 2px solid black;
}

header {
    width: 998px;
    max-height: auto;
    border: 2px solid black;
}

img {
    width: 100px;
    height: 100px;
}

.center_block {
    margin: 0 auto;
}

main {
    width: 998px;
    border: 2px solid black;
}

.article_experience {
    width: 68.8%;
    border: 2px solid black;
    display: inline-block;
}

.aside {
    width: 30%;
    border: 2px solid black;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.footer {
    width: 998px;
    border: 2px solid black;
}

.footer p {
    text-align: center;
}
